@font-face {
    font-family: CosmicVibrant;
    src: url(/assets/fonts/CosmicVibrant.otf);
}

@font-face {
    font-family: Gill;
    src: url(/assets/fonts/Gill.otf);
}

:root {
    --light-blue: #75fafd;
    --dark-blue: #111c27;
    --pink: #8f869e;

    --text1: 7.5em;
    --text2: 3.0em;
    --text2-5: 3.2em;
    --text3: 1.35em;
    --text4: 1em;

    --header-height: 275px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, a, .tab-selector > label {
    color: var(--light-blue);
    font-family: Gill, sans-serif;
}

a {
    color: var(--light-blue);
    text-decoration: none;
}

.hover-box:has(*:hover) a , a:not(.fake-underline):hover {
    text-decoration: underline;
}

a.fake-underline {
    position: relative;
}
a.fake-underline:hover::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0.25rem;
    background-color: currentColor;
    transform: translateY(-0.6rem);
}

h1 {
    font-size: var(--text1);
}

h2 {
    font-size: var(--text2);
    font-weight: lighter;
}

h3, .tab-selector > label {
    font-size: var(--text3);
    font-weight: lighter;
}

p {
    font-size: var(--text4);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-blue);
}

header {
    width: 100%;
    height: var(--header-height);
    /*background-color: #265955;*/
    /*border-bottom: solid 10px var(--pink);*/
    /*aspect-ratio: 5 / 1;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url("assets/images/Header.png");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;

    & > img {
        position: absolute;
        width: 100%;
        display: none;
        z-index: -1;
    }

    & > h1 {
        font-family: CosmicVibrant, sans-serif;
        font-weight: 200;
        margin-bottom: -20px;
    }

    & > h2 {

    }
}

.divider {
    height: 13px;
    width: 100%;
    background-color: var(--pink);
}

.tab-selector {
    display: flex;
    margin-bottom: 35px;

    & > * {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    & > *:not(:last-child) {
        margin-right: 60px;
    }

    & input[type="radio"] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    & input[type="radio"]:checked + label {
        border-bottom: 2px var(--light-blue) solid;
    }

    & label {
        cursor: pointer;
    }
}

.subtitle {
    margin-bottom: 35px;
}

.projects {
    width: 12.2in;
}

.project {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;

    & > .image {
        & img {
            width: 365px;
            display: block;
        }
        & .subtext {
            padding: 5px 5px 0 5px;
            display: inline-block;
            /*width: 100%;*/
        }
    }

    & > .text {
        margin: 10px 12px 0 12px;

        & > h2 {
            font-family: CosmicVibrant, sans-serif;
            font-size: var(--text2-5);
            & > a {
                font-family: CosmicVibrant, sans-serif;
            }
        }
        & > h3 {
            margin: 0.2rem 0;
        }
    }
}

.project:nth-child(even) {
    flex-direction: row-reverse;

    & > .text {
        text-align: right;
    }
}

.copyright > h3 {
    margin: 60px;
}